#
# Launch setup gtk themes
#
set $gnome-schema org.gnome.desktop.interface

exec_always {
#    gsettings set $gnome-schema gtk-theme 'Your theme'
#    gsettings set $gnome-schema icon-theme 'Your icon theme'
    gsettings set $gnome-schema cursor-theme 'Adwaita'
#    gsettings set $gnome-schema font-name 'Your font name'
}

default_border pixel
smart_borders on

font pango:Noto Sans 10

client.focused #83a598 #458588 #1d2021
client.unfocused #282828 #1d2021 #a89984
client.urgent #d65d0e #fe8019 #1d2021
client.focused_inactive #3c3836 #504945 #ebdbb2
