#
# Launch setup gtk themes
#
set $gnome-schema org.gnome.desktop.interface

exec_always {
#    gsettings set $gnome-schema gtk-theme 'Your theme'
#    gsettings set $gnome-schema icon-theme 'Your icon theme'
    gsettings set $gnome-schema cursor-theme 'Pop'
#    gsettings set $gnome-schema font-name 'Your font name'
}

default_border pixel
smart_borders on

font pango:Noto Sans 10
